[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
[user]
	email = kkato149@gmail.com
	name = kkato
[init]
	defaultBranch = main
[color]
	ui = auto
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[core]
	excludesfile = /Users/kkato/.gitignore_global
[url "git@github.com:"]
	insteadOf = https://github.com/
